// IMPORT VARS
@import './vars';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $text-white;
}

// FLEX
.flex {
    display: flex;
}
.jc-center {
    justify-content: center;
}
.jc-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
