// IMPORT VARS
@import './vars';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:$main-font;
}

ul {
    list-style: none;
}

// UTILITIES

.container {
    max-width: 1270px;
    margin: 0 auto
}

// FLEX
.flex {
    display: flex;
}
.jc-center{
    justify-content: center;
}
.jc-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.flex-grow {
    flex-grow: grow;
}