// COLORS
$text-white: #fff;
$bg-header: linear-gradient(
    0deg,
    rgba(20, 20, 20, 0.9906163148853291) 14%,
    rgba(0, 0, 0, 1) 100%
);
$bg-app: #141414;

// General brand color
$red: #db0510;

//TYPOGRAPHY
$main-font: Helvetica, Arial, sans-serif;
